# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config APP_WITH_STM32_HAL
	default y
	bool
	select USE_STM32_HAL_GPIO
	select USE_STM32_HAL_ADC
	select USE_STM32_HAL_ADC_EX
	select USE_STM32_HAL_DAC
	select USE_STM32_HAL_DAC_EX
	select USE_STM32_HAL_DMA
	select USE_STM32_HAL_DMA_EX
	select USE_STM32_HAL_CORTEX
	select USE_STM32_HAL_TIM
	select USE_STM32_HAL_TIM_EX
